.u-section-1 {
  min-height: 173px;
}

.u-section-1 .u-table-1 {
  margin-top: 0;
  margin-bottom: 1px;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  font-size: 0.8125rem;
}

.u-section-1 .u-table-cell-2 {
  font-size: 1rem;
}

.u-section-1 .u-table-cell-10 {
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-11 {
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-12 {
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-13 {
  font-size: 0.875rem;
}

.u-section-1 .u-table-body-1 {
  background-image: none;
}

.u-block-4c4e-35 {
  background-image: none;
}